
*.idx
*.vsidx
*.ipch
*.log
*.obj
*.log
*.idx
*.idx
*.o
*.db-wal
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.obj
*.pdb
*.pdb
*.pdb
*.pdb
*.ilk
*.pdb
*.obj
*.pdb
*.pdb
