*.idx
*.vsidx
*.ipch
*.exe
*.obj
*.log
*.o
*.db-wal
*.opendb
*.db
*.bin
*.tlog
*.pdb
*.ilk

Ripple.pdb
build-Ripple-Desktop_Qt_6_8_0_MSVC2019_64bit-Debug/debug/Ripple.pdb
*.pdb
*.log
*.log
*.props
*.qtvscr
Ripple/Ripple/x64/Release/qmake/temp/props.txt
Ripple/Ripple.qtvscr
Ripple/Ripple/x64/Debug/qmake/qtvars_x64_Debug.props
Ripple/Ripple/x64/Debug/qmake/temp/qtvars.log
Ripple/Ripple/x64/Debug/qmake/temp/qtvars.pro
Ripple/Ripple/x64/Debug/qmake/temp/qtvars_x64_Debug.props
Ripple/Ripple/x64/Release/qmake/qtvars_x64_Release.props
Ripple/Ripple/x64/Release/qmake/temp/qtvars.log
Ripple/Ripple/x64/Release/qmake/temp/qtvars_x64_Release.props
Ripple/debug/settings.ini
Ripple/debug/Ripple.tlog/uic.write.1u.tlog
Ripple/debug/Ripple.tlog/uic.read.1u.tlog
Ripple/debug/Ripple.tlog/Ripple.write.1u.tlog
Ripple/debug/Ripple.tlog/moc.write.1u.tlog
Ripple/debug/Ripple.tlog/moc.read.1u.tlog
Ripple/debug/Ripple.tlog/link.write.1.tlog
Ripple/debug/Ripple.tlog/link.secondary.1.tlog
Ripple/debug/Ripple.tlog/link.read.1.tlog
Ripple/debug/Ripple.tlog/link.command.1.tlog
Ripple/debug/Ripple.tlog/CL.write.1.tlog
Ripple/debug/Ripple.tlog/CL.read.1.tlog
Ripple/debug/Ripple.tlog/Cl.items.tlog
Ripple/debug/Ripple.tlog/CL.command.1.tlog
Ripple/debug/Ripple.log
Ripple/debug/Ripple.exe.recipe
Ripple/debug/Ripple.Build.CppClean.log
Ripple/debug/qt_work.log
Ripple/debug/moc_predefs.h.cbt
Ripple/.vs/Ripple/v17/HierarchyCache.v1.txt
Ripple/.vs/Ripple/v17/fileList.bin
Ripple/.vs/Ripple/v17/Browse.VC.db-shm
Ripple/.vs/Ripple/v17/DocumentLayout.json
Ripple/.vs/Ripple/v17/Browse.VC.db
Ripple/.qtc_clangd/compile_commands.json
Ripple/Ripple/x64/Release/qmake/temp/props.txt
Ripple/Ripple.qtvscr
Ripple/Ripple/x64/Debug/qmake/qtvars_x64_Debug.props
Ripple/Ripple/x64/Debug/qmake/temp/qtvars.log
Ripple/Ripple/x64/Debug/qmake/temp/qtvars.pro
Ripple/Ripple/x64/Debug/qmake/temp/qtvars_x64_Debug.props
Ripple/Ripple/x64/Release/qmake/qtvars_x64_Release.props
Ripple/Ripple/x64/Release/qmake/temp/qtvars.log
Ripple/Ripple/x64/Release/qmake/temp/qtvars_x64_Release.props
Ripple/debug/Ripple.tlog/uic.write.1u.tlog
Ripple/debug/Ripple.tlog/uic.read.1u.tlog
Ripple/debug/Ripple.tlog/Ripple.write.1u.tlog
Ripple/debug/Ripple.tlog/moc.write.1u.tlog
Ripple/debug/Ripple.tlog/moc.read.1u.tlog
Ripple/debug/Ripple.tlog/link.write.1.tlog
Ripple/debug/Ripple.tlog/link.secondary.1.tlog
Ripple/debug/Ripple.tlog/link.read.1.tlog
Ripple/debug/Ripple.tlog/link.command.1.tlog
Ripple/debug/Ripple.tlog/CL.write.1.tlog
Ripple/debug/Ripple.tlog/CL.read.1.tlog
Ripple/debug/Ripple.tlog/Cl.items.tlog
Ripple/debug/Ripple.tlog/CL.command.1.tlog
Ripple/debug/Ripple.log
Ripple/debug/Ripple.exe.recipe
Ripple/debug/Ripple.Build.CppClean.log
Ripple/debug/qt_work.log
Ripple/.vs/Ripple/v17/HierarchyCache.v1.txt
Ripple/.vs/Ripple/v17/fileList.bin
Ripple/.vs/Ripple/v17/DocumentLayout.json
Ripple/.vs/Ripple/v17/Browse.VC.db
Ripple/.qtc_clangd/compile_commands.json
